@import "../../common/styles/scss/variables";

.projectsBlock {
  background-color: $firstBgColor;
  padding: 0 15px;

  .projectsContainer {
    max-width: $containerWidth;
    padding-left: 15px;
    padding-right: 15px;
    .projects {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      @media screen and (max-width: 992px) {
        justify-content: space-around;
      }
    }
  }
}




