@import "../../common/styles/scss/variables";
@import "../../common/styles/scss/mixins";

.projectsBlock {
  background-color: $firstBgColor;
  padding: 0 15px;

  .projectsContainer {
    max-width: $containerWidth;
    padding-left: 15px;
    padding-right: 15px;
    .projects {
      width: 100%;
      @include flex(space-between);

      @media screen and (max-width: 992px) {
        justify-content: space-around;
      }
    }
  }
}




