.projectsBlock {
  background-color: #e3f2ff;

  .projectsContainer {
    flex-direction: column;
    justify-content: flex-start;

    .title {
      background-color: white;
    }

    .projects {
      border: 1px solid;
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      @media screen and (max-width: 705px) {
        justify-content: center;
      }
    }
  }
}




