@import "../../../common/styles/scss/variables";

.buttonBlock{
  button {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: $buttonTextColor;
    padding: 0 50px;
    background-color: $buttonColor;
    border: 0 none;
    border-radius: 5px;
    height: 47px;
    line-height: 50px;
    text-transform: uppercase;
    transition: 0.4s;
  }
  :hover{
    background-color: $buttonHoverColor;
    cursor: pointer;
    transition: 0.4s;
  }
}