@import "../../../common/styles/scss/variables";
@import "../../../common/styles/scss/mixins";

.buttonBlock {
  button {
    @include text($montserrat, 14px, 700, $buttonTextColor);
    padding: 0 50px;
    background-color: $buttonColor;
    border-radius: 5px;
    min-height: 47px;
    text-transform: uppercase;
    transition: 0.4s;

    &:hover {
      background-color: $buttonHoverColor;
      cursor: pointer;
      transition: 0.4s;
    }
  }
}