@import "../../../common/styles/scss/variables";
@import "../../../common/styles/scss/mixins";

.content {
  margin: 0 0 25px;
  @media screen and (max-width: 716px) {
    margin: 0 0 25px 25px;
  }

  .icon {
    @include text($awesome, 24px, 900, $textColor);
    @include icon ('\f095', 47px, $borderIcon, none);
    float: left;
    margin-right: 12px;

  }

  h4 {
    @include text($montserrat, 18px, 400, $paragraphTextColor);
    margin: 0;
    position: relative;
    top: 5px;
  }

  span {
    @include text($montserrat, 14px, 400, $textColor);
    position: relative;
    top: 5px;
  }

}