@import "../../../common/styles/scss/variables";
@import "../../../common/styles/scss/mixins";

.content {
  margin: 0 0 25px;
  @media screen and (max-width: 716px) {
    margin: 0 0 25px 25px;
  }

  .icon {
    @include text($awesome, 24px, 900, $textColor);
    @include icon ('\f095', 47px, $borderIcon, none);
    float: left;
    margin-right: 12px;

  }

  h4 {
    margin: 0;
    position: relative;
    top: 5px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    font-size: 18px;
    color: $paragraphTextColor;
  }

  span {
    color: $textColor;
    position: relative;
    top: 5px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
  }

}