@import "../../common/styles/scss/variables";
@import "../../common/styles/scss/mixins";

.mainBlock {
  background-color: $firstBgColor;

  .mainContainer {
    @include flex(space-between);
    max-width: $containerWidth;
    margin: 0 auto;
    padding: 0 15px;

    .mainText {
      @include flexColumn();

      h1 {
        @include text($montserrat, 44px, 700, $titleTextColor);
        text-transform: uppercase;
        margin: 0 0 15px;

        @media screen and (max-width: 992px) {
          font-size: 38px;
        }
        @media screen and (max-width: 716px) {
          font-size: 44px;
          line-height: 50px;
        }
      }

      h5 {
        @include text($montserrat, 16px, 700, $textColor);
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: 0 0 15px;
      }

      p {
        @include text($poppins, 16px, 400, $paragraphTextColor);
        margin: 0 0 15px;
      }

      .buttonBlock {
        margin: 40px 0 0;
      }

      @media screen and (max-width: 716px) {
        text-align: center;
        align-items: center;
      }
      @media screen and (max-width: 480px) {
        width: 270px;
      }
    }

    .mainPhoto {
      width: 420px;
      height: 750px;
      background-color: #ea2323;
      @media screen and (max-width: 992px) {
        width: 328px;
        height: 585px;
      }
      @media screen and (max-width: 716px) {
        margin-top: 50px;
        width: 420px;
        height: 750px;
      }
      @media screen and (max-width: 480px) {
        width: 270px;
        height: 482px;
      }
    }

    @media screen and (max-width: 716px) {
      justify-content: center;
    }
  }
}

