@import "../../common/styles/scss/variables";

.skillsBlock {
  background-color: $secondBgColor;
  .skillsContainer {
    max-width: $containerWidth;
    @media screen and (max-width: 1200px) {
      max-width: 970px;
    }
    @media screen and (max-width: 992px) {
      max-width: 750px;
    }
    @media screen and (max-width: 716px) {
      max-width: 480px;
    }
    @media screen and (max-width: 480px) {
      max-width: 330px;
    }
    .skills {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}