.skillsBlock {
  background-color: #ffffff;
  padding: 0 15px;
  .skillsContainer {
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;


    .skills {
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }
}