@import "../../../common/styles/scss/variables";

.skillBar {
  margin: 0 0 28px;
  width: 100%;

  .progressTitleHolder {
    color: $progressTitleColor;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    position: relative;
    font-size: 14px;
    text-transform: uppercase;
    height: 15px;
    margin: 0 0 15px;


    .progressTitle {

    }

    .progressWrapper {


      .progressMark {
        color: $progressTitleColor;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        margin: 0 0 15px;

        .percent {
          margin: 0 0 15px;
          position: absolute;
          right: -10px;
          bottom: -15px;
        }

        &:after {
          background: $titleTextColor;
          border-radius: 50%;
          box-shadow: 0 0 0 4px $progressMarkShadowColor;
          content: "";
          height: 14px;
          position: absolute;
          right: 0;
          bottom: -25px;
          width: 14px;
        }
      }
    }
  }


  .progressOuter {
    height: 7px;
    border-radius: 3px;
    background-color: $lineColor;

    .progressContent {
      height: 7px;
      border-radius: 3px;
      background-color: $titleTextColor;
    }
  }
}