@import "../../../common/styles/scss/variables";
@import "../../../common/styles/scss/mixins";

.skillBar {
  margin: 0 0 28px;
  width: 100%;

  .progressTitleHolder {
    @include text($montserrat, 14px, 700, $progressTitleColor);
    position: relative;
    margin: 0 0 15px;

    .progressTitle {
      text-transform: uppercase;
    }

    .progressWrapper {
      .progressMark {
        margin: 0 0 15px;

        .percent {
          position: absolute;
          right: -10px;
          bottom: -15px;
          margin: 0 0 15px;
        }

        &:after {
          position: absolute;
          content: "";
          background: $titleTextColor;
          border-radius: 50%;
          box-shadow: 0 0 0 4px $progressMarkShadowColor;
          width: 14px;
          height: 14px;
          right: 0;
          bottom: -25px;
        }
      }
    }
  }


  .progressOuter {
    height: 7px;
    border-radius: 3px;
    background-color: $lineColor;

    .progressContent {
      height: 7px;
      border-radius: 3px;
      background-color: $titleTextColor;
    }
  }
}