@import "../../../common/styles/scss/variables";

.titleBlock {
  margin: 0 auto 60px;
  text-transform: uppercase;
  text-align: center;
  h2 {
    line-height: 24px;
    color: $titleTextColor;
    text-transform: uppercase;
    margin: 0 0 15px;
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    word-wrap: break-word;
  }

  .horizontalLine {
    height: 2px;
    margin: 0 auto;

    .top {
      background-color: $lineColor;
      width: 44px;
      height: 1.5px;
      margin: 0 auto 5px;
    }

    .bottom {
      background-color: $lineColor;
      width: 77px;
      height: 1.5px;
      margin: 0 auto;
    }
  }
}