@import "../../common/styles/scss/variables";
@import "../../common/styles/scss/mixins";

.headerBlock {
  @include flex(center);
  background-color: $firstBgColor;
  padding: 50px 0;

  .headerContainer {
    @include flex(space-between);
    width: $containerWidth;
    padding: 0 15px;
    .left {
      a {
        .logo {
          width: 128px;
          height: 41px;
          background-color: #ea2323;
        }
      }
      @media screen and (max-width: 716px) {
        padding: 0 0 15px;
      }
    }
    @media screen and (max-width: 716px) {
      flex-direction: column;
      align-items: center;
    }
  }
  @media screen and (max-width: 716px) {
    padding: 15px 0;
  }
}