$firstBgColor: #f5f5f5;
$secondBgColor: #ffffff;

$titleTextColor: #494949;
$subtitleTextColor: #4F4F4F;
$paragraphTextColor: #6a6a6a;
$textColor: #919191;
$lineColor: #bcbcbc;

$progressTitleColor: #5e5e5e;
$progressMarkShadowColor: #4949497F;

$projectBlurColor: #ffffff;
$zoomProjectIconColor: #49494959;

$buttonTextColor: #ffffff;
$buttonColor: #393939;
$buttonHoverColor: #000000;

$skillShadowColor: #05050626;
$skillLineColor: #eeeeee;

$containerWidth: 1170px;