@import "../../../common/styles/scss/variables";
@import "../../../common/styles/scss/mixins";

.nav {
  width: 460px;
  display: flex;
  justify-content: space-between;
  .elementMenu {

    a {
      @include text($montserrat, 14px, 400, $paragraphTextColor);
      text-transform: uppercase;
      text-decoration: none;
      padding: 0 5px;
      transition: 0.3s;
      line-height: 40px;
      @media screen and (max-width: 716px) {
        padding: 15px 0;
      }
    }

    :hover {
      color: $textColor;
      transition: 0.3s;
    }

    &:after {
      position: relative;
      content: '';
      background-color: $textColor;
      display: block;
      height: 2px;
      width: 0;
      top: -50%;
      cursor: pointer;
      transition: width 0.3s ease-in-out;
    }

    &:hover:after {
      width: 100%;
    }
  }


  @media screen and (max-width: 716px) {
    flex-direction: column;
    align-items: center;
  }

}