.footerBlock {
    background-color: #fff0f0;
    height: 150px;
}

.footerContainer {
    flex-direction: column;
    justify-content: space-between;
}

.title {
    background-color: white;
}

.items {
    border: 1px solid;
    width: 280px;
    display: flex;
    justify-content: space-between;
}

.item {
    background-color: white;
    height: 40px;
    width: 40px;
}

.inscription {
    background-color: white;
}