@import "../../common/styles/scss/variables";

.footerBlock {
  background-color: $secondBgColor;
  padding: 20px 0;
  display: flex;
  justify-content: center;

  .footerContainer {
    width: $containerWidth;
    display: flex;
    padding: 0 15px;
    justify-content: space-between;
    flex-wrap: wrap;

    @media screen and (max-width: 427px) {
      justify-content: center;
      text-align: center;
    }
    .inscription {
      p {
        min-width: 130px;
        padding: 0;
        margin: 0;
        font-family: Montserrat, sans-serif;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 0.4px;
        color: $paragraphTextColor;
      }
    }

    .items {
      width: 250px;
      display: flex;
      justify-content: space-between;

      .item {
        a {
          padding: 0 15px;
          font-family: Montserrat, sans-serif;
          font-size: 13px;
          font-weight: 400;
          letter-spacing: 0.4px;
          color: $textColor;
          text-transform: uppercase;
          text-align: left;
          text-decoration: none;
          transition: 0.3s;
          display: block;
          line-height: 19px;
          cursor: pointer;
        }

        :hover {
          color: $titleTextColor;
        }
      }
      @media screen and (max-width: 427px) {
        padding-top: 20px;
      }
    }
  }
}









