.footerBlock {
  background-color: #ffffff;
  padding: 20px 0;

  .footerContainer {
    max-width: 1170px;
    display: flex;
    padding: 0 15px;
    justify-content: space-between;

    .inscription {
      p {
        padding: 0;
        margin: 0;
        font-family: Montserrat, sans-serif;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 0.4px;
        color: #919191;
      }
    }

    .items {
      width: 250px;
      display: flex;
      justify-content: space-between;

      .item {
        a {
          padding: 0 15px;
          font-family: Montserrat, sans-serif;
          font-size: 13px;
          font-weight: 400;
          letter-spacing: 0.4px;
          color: #919191;
          text-transform: uppercase;
          text-align: left;
          text-decoration: none;
          transition: 0.3s;
          display: block;
          line-height: 19px;
          cursor: pointer;
        }

        :hover {
          color: #000000;
        }
      }
    }
  }
}









