@import "../../common/styles/scss/variables";
@import "../../common/styles/scss/mixins";

.footerBlock {
  background-color: $secondBgColor;
  padding: 20px 0;
  @include flex(center);

  .footerContainer {
    width: $containerWidth;
    padding: 0 15px;
    @include flex(space-between);

    @media screen and (max-width: 427px) {
      justify-content: center;
      text-align: center;
    }
    .inscription {
      span {
        @include text($montserrat, 13px, 400, $paragraphTextColor);
        min-width: 130px;
        letter-spacing: 0.4px;
      }
    }

    .items {
      width: 260px;
      @include flex(space-between);

      .item {
        a {
          @include text($montserrat, 13px, 400, $textColor);
          line-height: 19px;
          text-transform: uppercase;
          text-decoration: none;
          padding: 0 15px;
          transition: 0.4s;
        }

        :hover {
          color: $titleTextColor;
          transition: 0.4s;
        }
      }
      @media screen and (max-width: 427px) {
        padding-top: 20px;
      }
    }
  }
}









