@import "../../common/styles/scss/variables";
@import "../../common/styles/scss/mixins";

.contactsBlock {
  background-color: $firstBgColor;

  .contactsContainer {
    @include flex(space-between);
    max-width: $containerWidth;
    margin: 0 auto;
    padding: 100px 0;
    @media screen and (max-width: 1200px) {
      max-width: 970px;
    }
    @media screen and (max-width: 992px) {
      max-width: 750px;
    }
    @media screen and (max-width: 716px) {
      max-width: 480px;
    }
    @media screen and (max-width: 480px) {
      max-width: 330px;
    }

    .touch {
      width: 390px;
      padding: 0 15px;
      @include flexColumn();
      @media screen and (max-width: 1200px) {
        width: 323px;
      }
      @media screen and (max-width: 992px) {
        width: 350px;
      }
      @media screen and (max-width: 716px) {
        width: 100%;
      }

      .titleBlock {
        margin: 0 0 30px;
        @media screen and (max-width: 716px) {
          text-align: center;
        }

        h2 {
          @include text($montserrat, 32px, 700, $titleTextColor);
          text-transform: uppercase;
          margin: 0 0 15px;
        }

        .horizontalLine {
          height: 2px;
          margin: 0 0 20px;


          .top {
            background-color: $lineColor;
            width: 44px;
            height: 1.5px;
            margin: 0 0 5px;
            @media screen and (max-width: 716px) {
              margin: 0 auto 5px;
            }
          }

          .bottom {
            background-color: $lineColor;
            width: 77px;
            height: 1.5px;
            @media screen and (max-width: 716px) {
              margin: 0 auto 5px;
            }
          }
        }

        p {
          @include text($poppins, 14px, 400, $paragraphTextColor);
          line-height: 24px;
          margin: 0 0 15px;
        }
      }

      .contacts {
        max-width: 360px;
      }
    }

    form {
      width: 780px;
      @media screen and (max-width: 1200px) {
        width: 616px;
      }
      @media screen and (max-width: 992px) {
        width: 350px;
      }
      @media screen and (max-width: 716px) {
        width: 100%;
      }

      .contactForm {
        margin: 0 auto;
        max-width: 503px;
        padding-top: 40px;
        @include flexColumn();
        @media screen and (max-width: 716px) {
          align-items: center;
        }

        .nameEmail {
          width: 100%;
          padding: 0 15px;
          @include flex(space-between);
          @media screen and (max-width: 716px) {
            @include flexColumn();
          }

          .name, .email {
            padding: 0 15px;
            width: 50%;
            @media screen and (max-width: 716px) {
              width: 100%;
            }

            input {
              @include text($montserrat, 16px, 300, $titleTextColor);
              width: 100%;
              outline: none;
              background-color: transparent;
              line-height: 26px;
              @include border(none, none, $borderLine, none);
              padding: 5px 0;
            }
          }
        }

        .message {
          padding: 0 30px;
          width: 100%;

          textarea {
            @include text($montserrat, 16px, 300, $titleTextColor);
            width: 100%;
            outline: none;
            background-color: transparent;
            max-height: 148px;
            margin-top: 50px;
            resize: none;
            border: $borderLine;
            padding: 10px 20px;
            @media screen and (max-width: 716px) {
              width: 100%;
              margin-top: 30px;
            }
          }
        }

        .button {
          padding: 0 30px;
          margin: 30px 0 0;
        }
      }
    }
  }
}


