.contactsBlock {
    background-color: #e9d4ff;
    min-height: 50vh;
}
.contactsContainer{
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.form{
    width: 280px;
    display: flex;
    flex-direction: column;

}
.textarea{
    resize: none;
}