@import "../../common/styles/scss/variables";

.contactsBlock {
  background-color: $firstBgColor;

  .contactsContainer {
    max-width: $containerWidth;

    .touch {
      width: 390px;
      padding: 0 15px;
      display: flex;
      flex-direction: column;
      justify-content: start;

      .titleBlock {
        margin: 0 0 30px;

        h2 {
          line-height: 1.1;
          color: $titleTextColor;
          text-transform: uppercase;
          margin: 0 0 15px;
          font-size: 32px;
          font-family: 'Montserrat', sans-serif;
          font-weight: 700;
        }

        .horizontalLine {
          height: 2px;
          margin: 0 0 20px;

          .top {
            background-color: $lineColor;
            width: 44px;
            height: 1.5px;
            margin: 0 0 5px;
          }

          .bottom {
            background-color: $lineColor;
            width: 77px;
            height: 1.5px;

          }
        }

        p {
          margin: 0 0 15px;
          color: $paragraphTextColor;
          font-family: 'Poppins', sans-serif;
          font-size: 14px;
          line-height: 24px;
          font-weight: 400;
        }
      }

      .contacts {
        width: 360px;
        margin: 0 0 10px;
      }
    }

    form {
      width: 780px;
      padding: 0 15px;

      .contactForm {
        margin: 0 auto;
        width: 503px;
        padding-top: 40px;

        .nameEmail {
          display: flex;
          justify-content: start;

          .name {
            padding: 0 15px;
            width: 256px;
            input {
              outline: none;
              font-weight: 300;
              line-height: 26px;
              color: $titleTextColor;
              border: none;
              border-bottom: 1px solid $lineColor;
              padding: 5px 0;
              border-radius: 0;
              box-shadow: none;
              margin-bottom: 0;
              width: 100%;
              font-family: inherit;
              font-size: inherit;
              text-transform: none;
              text-indent: 0;
              text-shadow: none;
              display: inline-block;
              text-align: start;
              appearance: auto;
              -webkit-rtl-ordering: logical;
              cursor: text;
              background-color: transparent;
              letter-spacing: normal;
              word-spacing: normal;
              text-rendering: auto;
              writing-mode: horizontal-tb !important;
            }
          }

          .email {
            padding: 0 15px;
            width: 256px;
            input {
              outline: none;
              font-weight: 300;
              line-height: 26px;
              color: $titleTextColor;
              border: none;
              border-bottom: 1px solid $lineColor;
              padding: 5px 0;
              border-radius: 0;
              box-shadow: none;
              margin-bottom: 0;
              width: 100%;
              font-family: inherit;
              font-size: inherit;
              text-transform: none;
              text-indent: 0;
              text-shadow: none;
              display: inline-block;
              text-align: start;
              appearance: auto;
              -webkit-rtl-ordering: logical;
              cursor: text;
              background-color: transparent;
              letter-spacing: normal;
              word-spacing: normal;
              text-rendering: auto;
              writing-mode: horizontal-tb !important;
            }
          }
        }

        .message {
          padding: 0 15px;
          textarea {
            outline: none;
            max-height: 148px;
            font-weight: 300;
            line-height: 26px;
            color: $titleTextColor;
            border: 1px solid $lineColor;
            border-radius: 0;
            box-shadow: none;
            margin-bottom: 0;
            padding: 10px 20px;
            width: 100%;
            margin-top: 50px;
            font-family: inherit;
            font-size: inherit;
            overflow: auto;
            writing-mode: horizontal-tb !important;
            text-rendering: auto;
            letter-spacing: normal;
            word-spacing: normal;
            text-transform: none;
            text-indent: 0;
            text-shadow: none;
            display: inline-block;
            text-align: start;
            appearance: auto;
            -webkit-rtl-ordering: logical;
            resize: none;
            cursor: text;
            white-space: pre-wrap;
            overflow-wrap: break-word;
            background-color: transparent;
            column-count: initial !important;
          }
          .button{
            margin: 30px 0 0;
          }
        }
      }
    }
  }
}


