.skillsBlock {
  background-color: #ffffff;
  .skillsContainer {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    flex-direction: column;
    justify-content: flex-start;

    .title {
      background-color: white;
    }

    .skills {
      border: 1px solid;
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      @media screen and (max-width: 705px) {
        justify-content: center;
      }
    }
  }
}