.aboutBlock {
  background-color: #ffffff;

  .aboutContainer {
    max-width: 1170px;
    display: flex;
    padding: 0 15px;
    justify-content: space-between;

    flex-wrap: wrap;
    @media screen and (max-width: 836px) {
      justify-content: center;
      text-align: center;
    }

    .mainText {
      font-family: 'Poppins', sans-serif;
      display: block;
      line-height: 24px;
      font-weight: 400;
      position: relative;
      width: 50%;

      h3 {
        font-family: 'Montserrat', sans-serif;
        font-size: 22px;
        color: #4F4F4F;
        line-height: 24.2px;
        margin: 0 0 15px;
        font-weight: 700;
      }

      p {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        color: #6a6a6a;
        margin: 0 0 15px;
      }

      .buttonBlock {
        margin: 30px 0 0;
      }

      @media screen and (max-width: 836px) {
        max-width: 414px;
      }
      @media screen and (max-width: 570px) {
        max-width: 296px;
      }
    }

    .stat {
      padding: 0 15px;
      width: 50%
    }
  }
}

